.ArmedForces {
  font-size: 0;
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ArmedForces {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 24vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ArmedForces {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 18vw;
    margin: -1vw 0;
  }
}