.BattleCell {
  background-color: #f8f8f8;
  border: 1px solid #9b9b9b;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}
.BattleCell.hit {
  background-image: url('/assets/Hit.png');
}
.BattleCell.miss {
  background-image: url('/assets/Miss.png');
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .BattleCell {
    border: 1px solid #cfcfcf;
  }
}