.Game {
  display: flex;
  flex-direction: row;
  padding: 2vw 7vw;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Game {
    padding: 0;
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .Game {
    padding: 2vw;
    flex-direction: column-reverse;
  }
}