.ScoreBoard {
  border: 1px solid #a8a8a8;
  color: #484848;
  display: flex;
  height: 16vw;
  margin-bottom: 3vw;
}
.ScoreBoard .ScoreItem {
  padding: 0 7px;
  flex: 1 1 auto;
}
.ScoreBoard .ScoreItem .ScoreValue {
  border-bottom: 1px solid #484848;
  font-size: 5vw;
  line-height: 10vw;
  font-weight: bold;
}
.ScoreBoard .ScoreItem .ScorePlayer {
  font-size: 2.5vw;
  line-height: 6vw;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.ScoreItem.left {
  background: #ffb100;
}
.ScoreItem.right {
  background: #21b9a0;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ScoreBoard {
    border: 0;
    height: 23vw;
  }
  .ScoreBoard .ScoreItem {
    padding: 0 11vw;
  }
  .ScoreBoard .ScoreItem .ScoreValue {
    font-size: 10vw;
    line-height: 15vw;
  }
  .ScoreBoard .ScoreItem .ScorePlayer {
    font-size: 3.5vw;
    line-height: 8vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ScoreBoard .ScoreItem {
    padding: 0 1vw;
    width: 16vw;
    box-sizing: border-box;
  }
}