.Unit {
  display: flex;
  margin: 1.5vw 0;
}
.Unit .UnitStatus, .Unit .UnitType {
  width: 50%;
}
.Unit .UnitType img {
  width: 100%;
}
.Unit .UnitStatus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 7px 0 14px;
  box-sizing: border-box;
}
.Unit .UnitStatus img {
  width: 20%;
  padding: 3px;
  box-sizing: border-box;
}

.Unit.carrier .UnitType img {
  content: url('/assets/Aircraft Shape.png');
}
.Unit.battleship .UnitType img {
  content: url('/assets/Battleship Shape.png');
}
.Unit.cruiser .UnitType img {
  content: url('/assets/Cruiser Shape.png');
}
.Unit.submarine .UnitType img {
  content: url('/assets/Submarine Shape.png');
}
.Unit.destroyer .UnitType img {
  content: url('/assets/Carrier Shape.png');
}
.Unit .UnitStatus img {
  content: url('/assets/Miss small.png');
}
.Unit.wasted .UnitStatus img {
  content: url('/assets/Hit small.png');
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Unit {
    width: 50vw;
    padding: 1vw;
    box-sizing: border-box;
  }
  .Unit .UnitStatus {
    padding: 0 5px;
  }
  .Unit .UnitStatus img {
    padding: 1px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .Unit {
    width: 50%;
    padding: 1vw 0 1vw 2vw;
    box-sizing: border-box;
    margin: 0;
  }
  .Unit .UnitStatus {
    padding: 0 5px;
  }
  .Unit .UnitStatus img {
    padding: 2px;
  }
}