.BattleField {
  display: grid;
  font-size: 0;
  padding: 5px;
  background: #ffb100;
  box-sizing: border-box;
  width: 51vw;
  height: 51vw;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .BattleField {
    width: 100vw;
    height: 100vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .BattleField {
    width: 96vw;
    height: 96vw;
    padding: 1vw;
    margin-bottom: 4vw;
  }
}