.InfoBoard {
  padding: 5px;
  width: 32vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .InfoBoard {
    padding: 0;
    margin: 0;
    width: 100vw;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .InfoBoard {
    padding: 0;
    margin: 0;
    width: 96vw;
    flex-direction: row;
  }
}